#main {
  background: $black;
  color: $white;
  height: 100vh;
  position: relative;
  width: 100vw;
  overflow: hidden;

  #player {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  #logo {
    position: absolute;
    right: calc-responsive(10, 60);
    top: calc-responsive(10, 60);
    z-index: 2;

    img {
      display: block;
      height: auto;
      width: calc-responsive(32, 162);
    }
  }

  .nuvela-load {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url($img-path + 'load.gif') no-repeat center center;
    background-size: 100% 100%;

    &.hide {
      background: none;
    }
  }

  #menu-btn {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    border: 2px solid $white;
    bottom: calc-responsive(20, 30);
    cursor: pointer;
    display: block;
    height: calc-responsive(36, 54);
    left: 50%;
    line-height: 0;
    margin: 0 auto;
    outline: none;
    position: absolute;
    text-align: center;
    transform: translate(-50%, 0);
    width: calc-responsive(36, 54);
    z-index: 3;

    &.close {
      animation: close-btn 1s ease;
      animation-fill-mode: forwards;

      img {
        animation: close-img 0.4s;
        animation-fill-mode: forwards;
      }
    }

    &.more {
      animation: more-btn 0.5s ease;
      animation-fill-mode: forwards;

      img {
        animation: more-img 0.2s ease;
        animation-fill-mode: forwards;
      }
    }    

    img {
      height: auto;
      width: calc-responsive(14, 21);
    }
  }

  #menu {
    background: rgba(0, 0, 0, 0);
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.9) 20%,
      rgba(0, 0, 0, 1) 100%);
    bottom: 0;
    display: none;
    height: 200px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    transform: translateY(200px);

    &.active {
      display: inherit;
      animation: show-menu 1s ease;
      animation-fill-mode: forwards;
    }

    &.inactive {
      display: inherit;
      animation: hide-menu 0.5s ease;
      animation-fill-mode: initial;
    }

    .title {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: normal;
      margin-top: 50px;
      text-align: center;

      .name {
        font-weight: bold;

        &:before {
          content: '“';
        }

        &:after {
          content: '”';
        }
      }
    }

    .nav {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 34px;
      width: 100%;

      li {
        &:first-child {
          margin-right: 28px;
        }

        a {
          align-items: center;
          background: $black;
          border-radius: 5px;
          border: 1px solid $white;
          color: $white;
          display: flex;
          flex-direction: row;
          font-family: 'Roboto', sans-serif;
          font-size: 12px;
          font-weight: normal;
          height: 40px;
          justify-content: space-around;
          padding: 0;
          text-decoration: none;
          text-transform: uppercase;
          width: 200px;

          &.back {
            box-sizing: border-box;
            padding: 0 8px;

            img {
              display: inline-block;
              height: 12px;
              width: auto;
            }
          }
        }
      }
    }
  }
}