#seo {
  display: none;
}

#main {
  background: $black;
  color: $white;
  height: 100vh;
  position: relative;
  width: 100vw;
  overflow: hidden;

  #opening {
    align-items: center;
    background-color: $black;
    bottom: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;

    &.start {
      img {
        animation: opening 1s 1.5s ease;
      }
    }

    img {
      display: block;
      height: 75%;
      width: auto;
    }
  }

  #player {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  #logo {
    position: absolute;
    right: calc-responsive(10, 60);
    top: calc-responsive(10, 60);
    z-index: 3;
    opacity: 0.6;
    transition: opacity 0.4s ease;

    &.opaque {
      opacity: 1;
    }

    img {
      display: block;
      height: auto;
      width: calc-responsive(32, 162);
    }
  }

  .nuvela-load {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url($img-path + 'load.gif') no-repeat center center;
    background-size: 100% 100%;

    &.hide {
      background: none;
    }
  }

  .mute {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: none;

    &.mute-icon {
      background: url($img-path + 'mute-icon.svg') no-repeat center center;
      background-size: 450px 420px;
      animation: mute-fadeout 0.5s 1s;
      animation-fill-mode: forwards;
    }

    &.sound-icon {
      background: url($img-path + 'sound-icon.svg') no-repeat center center;
      background-size: 450px 420px;
      animation: sound-fadeout 0.5s 1s;
      animation-fill-mode: forwards;
    }
  }

  #menu-btn {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    border: calc-responsive(2, 3) solid $white;
    bottom: calc-responsive(20, 30);
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    left: 50%;
    line-height: 0;
    outline: none;
    padding: calc-responsive(11, 18);
    position: absolute;
    text-align: center;
    transform: translate(-50%, 0);
    z-index: 4;

    &.close {
      animation: close-btn 0.5s ease;
      animation-fill-mode: forwards;

      img {
        animation: close-img 0.5s;
        animation-fill-mode: forwards;
      }
    }

    &.more {
      animation: more-btn 0.25s ease;
      animation-fill-mode: forwards;

      img {
        animation: more-img 0.35s ease;
        animation-fill-mode: forwards;
      }
    }    

    img {
      height: auto;
      width: calc-responsive(14, 20);
    }
  }

  #menu {
    background: rgba(0, 0, 0, 0);
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.9) 20%,
      rgba(0, 0, 0, 1) 100%);
    bottom: 0;
    display: none;
    height: 200px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 3;
    transform: translateY(200px);

    &.active {
      display: inherit;
      animation: show-menu 0.5s ease;
      animation-fill-mode: forwards;
    }

    &.inactive {
      display: inherit;
      animation: hide-menu 0.25s ease;
      animation-fill-mode: initial;
    }

    .title {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: normal;
      margin-top: 50px;
      opacity: 1;
      text-align: center;
      transition: opacity 0.15s ease;

      &.hidden {
        opacity: 0;
      }

      .name {
        font-weight: bold;
        text-transform: uppercase;

        &:before {
          content: '“';
        }

        &:after {
          content: '”';
        }
      }
    }

    .nav {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 34px;
      width: 100%;

      li {
        &:first-child {
          margin-right: 28px;
        }

        a {
          align-items: center;
          background: $black;
          border-radius: 5px;
          border: 1px solid $white;
          color: $white;
          display: flex;
          flex-direction: row;
          font-family: 'Roboto', sans-serif;
          font-size: 12px;
          font-weight: normal;
          height: 40px;
          justify-content: space-around;
          padding: 0;
          text-decoration: none;
          text-transform: uppercase;
          width: 200px;

          &.back {
            box-sizing: border-box;
            padding: 0 8px;

            img {
              display: inline-block;
              height: 12px;
              width: auto;
            }
          }
        }
      }
    }
  }

  #nuvela-cc {
    bottom: 20px;
    color: $white;
    display: inline-block;
    left: 32px;
    position: absolute;
    z-index: 5;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-shadow: 2px 2px 3px $black;

    a,
    a:active,
    a:link,
    a:visited {
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: normal;
    }
  }
}