#menu {
	background: rgba(0, 0, 0, 0);
	background:
		linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.8) 70%,
		rgba(0, 0, 0, 1) 100%);
	bottom: 0;
	display: none;
	height: 400px;
	left: 0;
	position: absolute;
	transform: translateY(100%);
	width: 100%;
	z-index: 3;

	&.active {
    animation: show-menu 0.5s ease;
    animation-fill-mode: forwards;
    display: inherit;
  }

  &.inactive {
    animation: hide-menu 0.25s ease;
    animation-fill-mode: initial;
    display: inherit;
  }

  .title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: normal;
    margin-top: 200px;
    opacity: 1;
    text-align: center;
    transition: opacity 0.15s ease;

    &.hidden {
      opacity: 0;
    }

    .name {
      font-weight: bold;
      text-transform: uppercase;

      &:before {
        content: '“';
      }

      &:after {
        content: '”';
      }
    }
  }

  .nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 34px;
    width: 100%;

    li {
      &:first-child {
        // margin-right: 28px;
      }

      a {
        align-items: center;
        background: $black;
        border-radius: 5px;
        border: 1px solid $white;
        color: $white;
        display: flex;
        flex-direction: row;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: normal;
        height: 40px;
        justify-content: space-around;
        padding: 0;
        text-decoration: none;
        text-transform: uppercase;
        width: 200px;

        &.back {
          box-sizing: border-box;
          padding: 0 8px;

          img {
            display: inline-block;
            height: 12px;
            width: auto;
          }
        }
      }
    }
  }

#nuvela-cc {
  margin: 20px auto;
  color: $white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-shadow: 2px 2px 3px $black;
  text-align: center;
  a,
  a:active,
  a:link,
  a:visited {
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: normal;
  }
}
}
