#nuvela-cc {
  bottom: 20px;
  color: $white;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  left: 32px;
  position: absolute;
  text-shadow: 2px 2px 3px $black;
  z-index: 5;

  a,
  a:active,
  a:link,
  a:visited {
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: normal;
  }
}
